body {
    background-color: rgb(145, 128, 97);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#digital-clock {
    text-align: center;
    font-size: 2rem;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
}

#label-format-switch {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
    align-items: center;
}

#format-switch {
    transform: scale(2);
}

.switch-container {
    margin-top: 1rem;
}

.alarm-container {
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
}

.input-container input {
    margin: 0.5rem;
    transform: scale(1.2);
}

#add-alarm {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#add-alarm:hover {
    background-color: #555;
}

#alarms-list {
    margin-top: 1rem;
    list-style-type: none;
}

#alarms-list li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alarms-list button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#alarms-list button:hover {
    background-color: #555;
}

h2 {
    text-align: center;
}